.secondary-nav {
    background: $grey--darker;
}

.secondary-nav__item {
    display: inline-block;
    padding: .5rem .4rem;
    float: right;
    font-size: $font-size--small;

    a {
        color: $white;
    }

    @media(max-width: $screen-sm-min) {
        display: none;
    }
}

.primary-nav {
    @include clearfix;
    background: $grey--light;
}

.primary-nav__logo__link {
    
}

.primary-nav__navigation {
    
}

.primary-nav__item {

    .navbar-default .navbar-nav & { // fix the overwrite bootstrap
         a {
            &:hover {
                background-color: $black--lighter;
                color: $white;
            }
        }
    }

}
