.project-detail {
    display: none;
    padding-bottom: 10rem;

    .row {
    	margin-top: 25%;
    }
}

.project-detail__content {
	position: relative;
	z-index: 3;
	display: table;
	padding: 1.5rem;
	
	background: rgba($white,.95);
}

.project-detail__title {
	margin: 0 0 1rem 0;

	color: $white;
	font-size: 4.5rem;
	line-height: 1;
}

.project-detail__intro {
	margin: 0 0 2rem 0;
	
	color: $white;
	font-size: 1.7rem;
	line-height: 1.5;
}

.project-detail__logo {
	margin-bottom: 2.5rem;

	img {
		margin: 0 auto;
	}
}

.project.slick-slide.gradient {
	position: relative;
	
	&:after {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 320px;
	
		content: '';
	
		background: url('../img/elements/fade.png');
	}
}
