.path {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
}

.path-2 {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 4;
}

.social-media {
	float: left;
	margin-top: .5rem;
}

.social-media__text {
	font-family: $secondary-font;
	color: $white;
}