.fa-icon {
	display: inline-block;
	margin-left: .5rem;
	padding-top: .6rem;
	width: 40px;
	height: 40px;

	border-radius: 50%;
	border: 1px solid transparent;

	font-size: 1.2rem;
	color: $white;
	text-align: center;
	line-height: 1;

	cursor: pointer;

	@include transition(all, .3s, linear);

	&.fa-facebook {
		background: $facebook;

		&:hover {
			background: none;
			border-color: $facebook;

			transform: scale(1.2);
		}
	}

	&.fa-twitter {
		background: $twitter;

		&:hover {
			background: none;
			border-color: $twitter;

			transform: scale(1.2);
		}
	}

	&.fa--navigate {

		&:hover {
			background: none;
			border-color: $primary-color;

			transform: scale(1.2);
		}
	}

	&:hover,
	&:focus {
		text-decoration: none;

		outline: none;
	}
}


