.secondary-nav {
	position: absolute;
	top: 8.5rem;
	right: 4rem;
	z-index: 2;

	ul {
		list-style: none;
	}
}

.secondary-nav__item__link {
	display: block;
	padding: .6rem 0;

	font-family: $primary-font;
	color: $primary-color;
	font-weight: bold;
	font-size: 1.2rem;
	text-align: center;

	@include transition(all, .3s, linear);

	&:hover,
	&:focus {
		@extend .secondary-nav__item__link--current;

		text-decoration: none;
	}
}

.secondary-nav__item__link--current {
	color: $white;
}