/* ==========================================================================
   Colors

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Greyscale
   ========================================================================== */
$black:                   #000000;
$black--light:            #1C1919;
$black--lighter:          #24201F;

$white:                   #FFFFFF;

$grey:                    #EBEBEB;
$grey--darker:            #606060;
$grey--dark:              #CCCCCC;
$grey--light:             #F6F2F2;
$grey--lighter:           #F9F9F9;

/* Brand colors
   ========================================================================== */



/* Social media colors
   ========================================================================== */
$linkedin:                #0077B5;
$twitter:                 #55ACEE;
$facebook:                #3b5998;
$youtube:                 #E52D27;


/* Specifics
   ========================================================================== */
$text-color:              $black;
$hr-color:                $grey--light;
$border-color:            $grey;
