/* ==========================================================================
   Fonts

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Webfonts
   ========================================================================== */
$primary-font: Helvetica, Arial, sans-serif;
$secondary-font: Helvetica, Arial, sans-serif;


/* Iconfonts
   ========================================================================== */
$icon-font-family: "FontAwesome";


/* Defaults
   ========================================================================== */
$font-family--base:         $primary-font;
$font-family--headings:     $secondary-font;
$font-family--buttons:      $primary-font;
