h1,
h2,
h3 {
	font-family: $secondary-font;
}

h1 {	
	margin-top: 0;
	
	font-size: 3.5rem;
}

h2 {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-family: $primary-font;
}

h3 {
	font-size: 2rem;
}