/* ==========================================================================
   Body Copy
   ========================================================================== */

/* General
   ========================================================================== */
* {
   -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
}

html, body {
    font-family: $font-family--base;
    font-size: $font-size--base;
    line-height: $line-height--base;
    color: $text-color;
}

p {
    margin: 1rem 0;

    @media (min-width: $screen-md-min) {
        margin: $default-margin 0;
    }
}

p, .pp--text {
    + h1, + h2, + h3, + h4, + h5, + h6 {
        margin-top: 3rem;
    }
}


/* General Modifiers
   ========================================================================== */
.text--upper {
    text-transform: uppercase;
}

.text--center {
    text-align: center;
}

.text--right {
    text-align: right;
}


/* Intro text
   ========================================================================== */
.text--intro {
    max-width: 90%;
    margin: $default-margin auto 4rem;

    text-align: center;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.3;
    color: $grey--darker;

    @media (min-width: $screen-sm-min) {
        font-size: 1.6875rem;
    }
}
